<nav class="top-bar">
	<div class="container">
	
		<div class="row utility-menu">
			<div class="col-sm-12">
				<div class="utility-inner clearfix">
					<span class="alt-font"><i class="glyphicon glyphicon-envelope"></i> meajuda@gosalao.com.br</span>
					<span class="alt-font"> | </span>
					<span class="alt-font"><i class="glyphicon glyphicon-earphone"></i> 11 2566-0030</span>
				
					<div class="pull-right">
						<a href="login.html" class="btn btn-primary login-button btn-xs">Entrar</a>
						<a href="#" class="btn btn-primary btn-filled btn-xs">Cadastrar-se</a>
					</div>
				</div>
			</div>
		</div><!--end of row-->
	
	
		<div class="row nav-menu">
			<div class="col-sm-3 col-md-2 columns">
				<a routerLink="">
					<img class="logo logo-light" alt="Logo" src="img/logo-light.png">
					<img class="logo logo-dark" alt="Logo" src="img/logo-dark.png">
				</a>
			</div>
		
			<div class="col-sm-9 col-md-10 columns">
				<ul class="menu">
					<li class="has-dropdown"><a href="#">Minha conta</a>
						<ul class="subnav">
							<li><a href="about.html">Meu perfil</a></li>
							<li><a href="about-2.html">Favoritos</a></li>
							<li><a href="services.html">Agendamentos</a></li>
							<li><a href="services-2.html">Alterar senha</a></li>
							<li><a href="login.html">Sair</a></li>
						</ul>
					</li>
					<li class="has-dropdown"><a  href="#">Clientes finais</a>
						<div class="subnav subnav-halfwidth">
							<div class="col-sm-6">
								<h6 class="alt-font">Quero conhecer</h6>
								<ul class="subnav">
									<li><a href="blog-masonry-sidebar.html">Cadastrar-me</a></li>
									<li><a href="blog-masonry.html">Como funciona</a></li>
								</ul>	
							</div>
					
							<div class="col-sm-6">
								<h6 class="alt-font">Clientes Vips - Acessem:</h6>
								<ul class="subnav">
									<li><a href="blog-single.html">Minha conta</a></li>
								</ul>	
							</div>
						</div>
					</li>
					<li class="has-dropdown"><a  href="#">Estabelecimentos</a>
						<div class="subnav subnav-halfwidth">
							<div class="col-sm-6">
								<h6 class="alt-font">Faça parte - Conheça</h6>
								<ul class="subnav">
									<li><a href="blog-masonry.html">Indicar salão</a></li>
									<li><a href="blog-masonry-sidebar.html">Cadastrar</a></li>
									<li><a href="blog.html">Como funciona</a></li>
								</ul>	
							</div>
					
							<div class="col-sm-6">
								<h6 class="alt-font">Parceiros Vip</h6>
								<ul class="subnav">
									<li><a href="blog-single.html">Entrar</a></li>
								</ul>	
							</div>
						</div>
					</li>
					<li class="has-dropdown"><a  href="#">Me ajuda</a>
						<div class="subnav subnav-halfwidth">
							<div class="col-sm-6">
								<h6 class="alt-font">Central de ajuda</h6>
								<ul class="subnav">
									<li><a href="contact-3.html">Aplicativo</a></li>
									<li><a href="contact.html">Como funciona</a></li>
									<li><a href="contact-2.html">Contato</a></li>
									<li><a href="contact-4.html">Quem somos</a></li>
									<li><a href="contact-4.html">Perguntas?</a></li>
								</ul>	
							</div>
					
							<div class="col-sm-6">
								<h6 class="alt-font">Redes sociais</h6>
								<ul class="subnav">
									<li><a href="blog-single-sidebar.html">Blog GO Salão</a></li>
									<li><a href="blog-single.html">Facebook</a></li>
									<li><a href="blog-single-2.html">Instagram</a></li>
									<li><a></a></li>
									<li><a></a></li>
									<li><a href="contact-4.html">Empresas parceiras</a></li>
								</ul>	
							</div>
						</div>
					</li>	
					<li class="has-dropdown">
						<a href="#">Pesquisar</a>
					</li>
				</ul>

				<ul class="social-icons text-right">
					<li>
						<a href="#">
							<i class="icon social_twitter"></i>
						</a>
					</li>
				
					<li>
						<a href="#">
							<i class="icon social_facebook"></i>
						</a>
					</li>
				
					<li>
						<a href="#">
							<i class="icon social_instagram"></i>
						</a>
					</li>
				</ul>
			</div>
		</div><!--end of row-->
		
		<div class="mobile-toggle">
			<i class="icon icon_menu"></i>
		</div>
		
	</div><!--end of container-->
</nav>