<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h2 class="logo"><a href="#"> LOGO </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>GoSalão</h5>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Nosso aplicativo</a></li>
                        <li><a href="#">Política de privacidade</a></li>
                        <li><a href="#">Go Parceiros</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Para cliente</h5>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Para salão</h5>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Atendimento</h5>
                    <ul>
                        <li><a href="#">Fale conosco</a></li>
                        <li><a href="#">Perguntas frequentes</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Como funciona?</h5>
                    <button type="button" class="btn btn-default">Sou cliente</button>
                    <button type="button" class="btn btn-info">Para salão</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© Copyright {{obterAno()}}. All Rights Reserved. </p>
        </div>
    </footer>